body {
    width: 15rem;
    height: 15rem;
    background-image: linear-gradient(120deg, rgba(248, 245, 41, 0.151), rgba(228, 13, 56, 0.11));
    display: flex;
    justify-content: center;
}

p {
    display: inner-flex;
    margin: auto 10px;
    font-size: 22px;
    background-image: linear-gradient(180deg, rgb(30, 108, 145), rgb(14, 224, 189));
    border-radius: 6px;
    border: 1px solid rgba(20, 20, 20, 0.24);
    padding: 1rem;
}